
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}
body{
    background-color: #000000;
    color: white;
}
.left{
    width: 25vw;
    padding: 3px;
}
.right{
    width: 75vw;
}
.home{
    
}
.home ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    width: 25px;
    padding-top: 20px;
}
.library{
    display: flex;
    gap: 15px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: 18px;
    min-height: 80vh;
    position: relative;
}
.library img{
    width: 26px;
}
.footer{
    display: flex;
    justify-content: center;
    font-size: 10px;
    gap: 10px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: gray;
}
.right{
    margin: 7px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #111111;
}
.header > *{
    padding: 18px;
}
.right-main{
    background-color: #1e1e1e;
}
.spotifyPlaylists > h1{
    font-size: 27px;
    margin-left: 13px;
    margin-bottom: 15px;
}
.spotifyPlaylists{
    padding: 4px;
    background-color: #1e1e1e1e;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    gap: 12px;
}
.card > *{
    padding-top: 10px;
    font-size: 18px;
}
.card{
    width: 200px;
    background-color: #242424;
    border-radius: 10px;
    padding: 16px;
    margin: 4px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}