<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Data Generator</title>
    <link rel="stylesheet" href="./src/output.css">
</head>
<body><h1>Hello World</h1>
    <div class="container flex justify-center items-center bg-black">
     <button class="bg-purple-300 ">Generate Data</button>
     <button class="bg-purple-500 ">Clear Data</button>
    </div>
</body>  
</html>




